[defaults]
enable_plugins = host_list, script, auto, yaml, ini, toml, amazon.aws.aws_ec2
host_key_checking = False
deprecation_warnings = False

# Automatically log all playbook executions
log_path = /home/ec2-user/ansible-demo-lab/ansible.log

# Format terminal and file log outputs in clean YAML structure
#stdout_callback = yaml
callbacks_enabled = timer, profile_tasks
